*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Poppins',sans-serif;

}



body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:

linear-gradient(
rgba(0,0,0,.45),
rgba(0,0,0,.45)
),

url("../images/background.jpg");


background-size:cover;

}




.analytics-container{

width:90%;

max-width:1000px;

background:white;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:0 15px 35px rgba(0,0,0,.3);

}



.analytics-container h1{

color:#2c3e50;

margin-bottom:10px;

}



.analytics-container p{

color:#666;

margin-bottom:30px;

}





.stats{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

}



.box{

padding:25px;

border-radius:15px;

background:#4CAF50;

color:white;

}



.chart-box{

margin-top:40px;

}



.chart{

height:250px;

display:flex;

align-items:flex-end;

justify-content:center;

gap:25px;

margin-top:30px;

}



.bar{

width:40px;

height:80px;

background:#4CAF50;

border-radius:10px 10px 0 0;

position:relative;

}



.bar span{

position:absolute;

bottom:-30px;

left:50%;

transform:translateX(-50%);

font-size:13px;

}



.analytics-container a{

display:block;

margin-top:50px;

color:#4CAF50;

text-decoration:none;

font-weight:600;

}





@media(max-width:700px){


.stats{

grid-template-columns:1fr;

}


.chart{

gap:10px;

}


.bar{

width:25px;

}


}